.loader {
	position: fixed;
	background: #000;
	background: rgba(0,0,0,0.5);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0px;
	z-index: 100000;
}
#loading2 #outerCircle {
	-moz-animation: 1s ease 0 normal none infinite cwSpin;
    -webkit-animation: 1s ease 0 normal none infinite cwSpin;
    -o-animation: 1s ease 0 normal none infinite cwSpin;
	animation: 1s ease 0 normal none infinite cwSpin;
	background: #ececec;
}
#loading2 #outerCircle {
	border-top: 6px solid #04b6c4;
	border-bottom: 6px solid transparent;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-radius: 100%;
	display: block;
	margin: 0;
	position: absolute;
	width: 60px;
	height: 60px;
	z-index: 1000;
}
.loading {
	width: 72px;
	height: 72px;
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	margin-top: -36px;
	margin-left: -36px;
}
.loading .bg {
	background: #444;
	border-radius: 100%;
	width: 60px;
	height: 60px;
	display: block;
	position: absolute;
	z-index: 1010;
	top: 6px;
	left: 6px;
	line-height: 60px;
	text-align: center;
	color: #aaa;
	font-size: 11px;
}
@-webkit-keyframes cwSpin
{
	0%{-webkit-transform:rotate(0deg);	}
	100%{-webkit-transform:rotate(360deg); }
}
@-moz-keyframes cwSpin
{
	0%{-moz-transform:rotate(0deg);	}
	100%{-moz-transform:rotate(360deg); }
}
@-ms-keyframes cwSpin
{
	0%{-ms-transform:rotate(0deg);	}
	100%{-ms-transform:rotate(360deg); }
}
@-o-keyframes cwSpin
{
	0%{-o-transform:rotate(0deg);	}
	100%{-o-transform:rotate(360deg); }
}
@keyframes cwSpin
{
	0%{transform:rotate(0deg);	}
	100%{transform:rotate(360deg); }
}