.content_footer .rule-fo ul li a{ font-family: Times New Roman;}

.cate-fashion h1{ font-size:0; height:29px; background:url(images/title_fashion_vi.png) no-repeat;}
.cate-beauty h1{ font-size:0; height:31px; background:url(images/title_beauty_vi.png) no-repeat;}
.cate-lifestyle h1{ font-size:0; height:31px; background:url(images/title_lifestyle_vi.png) no-repeat;}
.cate-leisure-wellness h1{ font-size:0; height:31px; background:url(images/title_leisure_vi.png) no-repeat;}

.section-fashion h2{ font-size:0; height:29px; background:url(images/title_fashion_vi.png) no-repeat; width:300px;}
.section-beauty h2{ font-size:0; height:31px; background:url(images/title_beauty_vi.png) no-repeat; width:300px;}
.section-lifestyle h2{ font-size:0; height:31px; background:url(images/title_lifestyle_vi.png) no-repeat; width:300px;}
.section-leisure-wellness h2{ font-size:0; height:31px; background:url(images/title_leisure_vi.png) no-repeat; width:300px;}
.section-editor h2{ font-size:0; height:35px; background:url(images/title_editor_vi.png) no-repeat; width:300px;}