/*Embed */

#share-panel{  
    position: absolute;  
    top: 195px;
	right: 30px;  
    rightright: 0px;  
    width: 600px;  
    padding: 10px 15px 5px 15px;  
    background: #2a2a2a;  
    font-size: 8pt;  
    font-weight: bold;  
    color: #FFF;  
    display: none;  
} 